PORT= #The server port for eg:8000
DB_HOST= #The database host for eg:localhost
DB_USER= #The database user for postgres eg:root
DB_PORT= #The database port for postgres eg:5432
DB_NAME= #The database name for eg:streaks
DB_PASSWORD= #The database password for the database eg:password
DB_URL= #The database URL for eg:postgres://root:password@localhost:5432/streaks
JWT_KEY= #The secret key for JWT token generation eg:your_jwt_secret_key
NODE_ENV= #The environment for the server eg:development or production